
.openAiImage {
    height: 400px;
    width: 400px;
}
  
.openAiImage:hover {
  opacity: 0.7;
  cursor:pointer;
}


.imageSelected{ 
  position: relative;
  bottom: 48px;
  right: 0px;
  float: right;
  background-color: #fff;
  -moz-border-radius: 24px; 
  -webkit-border-radius: 24px; 
  border-radius: 24px;
}

.imageNotSelected{ 
  position: relative;
  bottom: 48px;
  right: 0px;
  float:right;
  background-color: #fff;
  -moz-border-radius: 24px; 
  -webkit-border-radius: 24px; 
  border-radius: 24px;
}